{% extends 'core/base.html' %}

{% load static %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Quien soy</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row">  
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Nicolas Mamone</h2>   
        <p>Nacido en Mataderos. Técnico en hardware, Desarrollador de Software en lo que se puede destacar lenguajes de programación como Java, Javascript, Python, Android y mas... </p>
        <br>
        <p>Participe en el derrocamiento del titan Thanos. Y colaboracion con San Matin en la liberacion de los pueblos originarios. Aguante Riquelme</p>
    </div>
</div>
{% endblock %}